torch
torchvision
torchaudio
git+https://github.com/openai/CLIP.git
pytorch-lightning==1.3.5
opencv-python
imageio
ftfy
regex
tqdm
altair
streamlit
protobuf
timm
tensorboardX
matplotlib
test-tube
wandb
git+https://github.com/Zacchaeus14/PyTorch-Encoding.git